# Logs
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Build artifacts
lib

# Ignore any pdfs written by example app
src/example/pdfs

.env